<section class="flex gap-2 mr-5">
  <app-navbtn
    class="cursor-pointer px-2 py-1 text-gray-400 hover:bg-sky-100 bg-gray-100 rounded hover:text-sky-600 hover:transition"
  >
    <mat-icon icon> notifications</mat-icon>
  </app-navbtn>
  <app-navbtn
    class="cursor-pointer px-2 py-1 text-gray-400 bg-gray-100 rounded hover:bg-sky-100 hover:text-sky-600 hover:transition"
  >
    <mat-icon icon>shopping_basket</mat-icon>
  </app-navbtn>
  <app-navbtn
    class="cursor-pointer px-2 py-1 text-gray-400 bg-gray-100 rounded hover:bg-sky-100 hover:text-sky-600 hover:transition"
  >
    <mat-icon icon>person</mat-icon>
  </app-navbtn>
  <button>Marwan Omar</button>
</section>
